:root {
	--col-a: #fff;
}

.all-ingredients {
	background-color: teal;
	padding: 1em;
}

.list-ingredients {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.item-ingredient {
	width: 5em;
	background-color: lightseagreen;
}

.item-ingredient img {
	max-width: none;
	height: 5em;
}
